body {
    background-color: $color_main_background;

}

.page-title {
    padding: 1.5rem;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    max-width: 1284px;
    position: relative;
    margin-bottom: 0;
}