// .btn md
.btn {
    border: 1px solid rgb(127, 137, 148);
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    background-color: #fff;
    line-height: 1.5rem;
    font-size: 1rem;
    min-width: 120px;
    padding: 0.3rem 0.5rem;
}