.analysis-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.analysis-accuracy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;


    span {
        border-radius: 6px;
        padding: 2px 4px;
        margin-left: 8px;
        color: #333;
    }

    .good-accuracy {
        border: 1px solid #93ff93;
        background-color: #93ff93;
    }

    .bad-accuracy {
        border: 1px solid #e15454;
        background-color: #e15454;
    }
}

.analysis-detail {
    border: $card_border_width solid $color_card_border;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* styles the below component as the mobile view and then set the break point
for the desktop */

.analysis-detail-title {
    border-bottom: $card_border_width solid $color_card_border;
    display: flex;
    width: 100%;

    .title {
        flex: 1;
        padding: 0.5rem 0;
        text-align: center;

        &:nth-child(1) {
            border-right: $card_border_width solid $color_card_border;
        }
    }
}

.analysis-detail-game {
    .row {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: 1200px) {
            flex-wrap: nowrap;
        }
        
        .date {
            flex: 1 0 200px;
            align-items: center;
            padding: 1rem;
            background-color:#f7f7f7;

            span {
                display: block;
                text-align: center;
            }
            border-bottom: $card_border_width solid $color_card_border;
            justify-content: center;

            @media (min-width: 1200px) {
                flex: 1 0 0%;
            }
        }

        .result {
            min-width: 300px;
            border-bottom: $card_border_width solid $color_card_border;
            display: flex;
            flex-direction: column;
            @media (min-width: 1200px) {
                border-bottom: none;
            }
        }
    }
}

.game-result-row {
    flex-wrap: wrap;

    .home-team,
    .away-team,
    .match-result {
        flex-basis: 100%;
        min-width: 200px;
        line-height: 2rem;
        vertical-align: middle;
        align-items: center;
        justify-content: space-around;
        padding: 5px 0;
        border-bottom: $card_border_width solid $color_card_border;
        
        @media (min-width: 1200px) {
            flex-basis:32%;
        }
        
        span {
            display: inline-block;
            margin-left: 5px;
        }
    }
    

    img,
    .img {
        width: 32px;
        height: 32px;
    }

    svg {
        width: 32px;
        height: 32px;
    }

    .team-name {
        min-width: 100px;
    }

    .team-power {
        min-width: 50px;
    }
}