.cards-container {
    padding: 1rem 0;
    max-width: 1284px;
    margin: 0 auto;
}

.dashboard {
    padding: 1rem;
    background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1284px;
    position: relative;
}

.card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;

    .card-wrapper {
        flex: 0 0 calc(33.333% - 0.667rem);
    }

    &.card-row-partial {
        justify-content: flex-start;
        
        .card-wrapper {
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.parameter-section {
    margin-bottom: 7px;
}

.date-picker-section {
    flex: 1 1 20%;

    & input {
        padding: 6px 8px;
        padding-right: 0;
    }
}

.weight-input-section {
    flex: 1 1 80%;
}

.weight-input,
.first-few {
    flex-basis: 20%;

    &>p {
        margin: 8px 8px;
        margin-left: 0;
        font-size: 14px;
        line-height: normal;
    }

    & input {
        max-width: 50px;
        text-align: center;
    }
}