.cards-container {
    background-color: #fff;
    max-width: 1284px;
    width: 100%;
    // padding: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    position: relative;
}

.card-row {
    margin-bottom: 1rem;
}