// font
$font_weight_bold: 700;
$font_size_normal: 1rem;


// spacing
$padding_xs: 3px;
$padding_sm: 7px;
$padding_md: 10px;
$padding_xl: 20px;

$card_border_width: 1px;

// colors
$color_main_background: rgb(243, 243, 243);
$color_card_border: rgb(210, 210, 210);

$font_color_main: #333333;
$font_color_secondary: #666666;
$font_color_light: #999999;
$font_color_focus_red: #d50032;